Day 1, Puzzle 1

In [31]:
# Define the file path
data_file = 'data/input.txt' 

# Open the file in read mode and read its lines
with open(data_file, 'r') as input_file: 
    lines = input_file.read().splitlines() # Split the file in to a list of lines

In [42]:
# Read file to see data
lines

[1227,
 1065,
 329,
 1063,
 1889,
 1700,
 1805,
 1373,
 389,
 1263,
 1276,
 1136,
 1652,
 1981,
 1406,
 1249,
 1197,
 1379,
 1050,
 1791,
 1703,
 2001,
 1842,
 1707,
 1486,
 1204,
 1821,
 1807,
 1712,
 1871,
 1599,
 1390,
 1219,
 1612,
 1980,
 1857,
 1511,
 1702,
 1455,
 1303,
 1052,
 1754,
 1545,
 1488,
 1848,
 1236,
 1549,
 1887,
 1970,
 1123,
 1686,
 1404,
 1688,
 1106,
 1296,
 401,
 1829,
 1693,
 1389,
 1957,
 914,
 1176,
 1348,
 1275,
 1624,
 1401,
 1045,
 1396,
 1352,
 1569,
 1060,
 1235,
 1679,
 1503,
 1340,
 1872,
 1410,
 1077,
 958,
 1681,
 1189,
 1466,
 1087,
 1852,
 1293,
 1139,
 1300,
 1323,
 661,
 1388,
 1983,
 1325,
 1112,
 1774,
 1858,
 1785,
 1616,
 1255,
 1198,
 1354,
 1124,
 1834,
 1417,
 1918,
 1496,
 33,
 1150,
 1861,
 1172,
 2006,
 1199,
 1558,
 1919,
 1620,
 1613,
 1710,
 1477,
 1592,
 1709,
 1909,
 1670,
 1922,
 1840,
 1768,
 1982,
 1193,
 1736,
 1877,
 1770,
 1191,
 1433,
 1072,
 1148,
 1225,
 1147,
 1171,
 1424,
 1913,
 1228,
 1339,
 1814,
 1504,
 1251,
 1240,
 1272,
 1500,
 1927,
 1428,
 1641,
 1453,
 1729,
 1976,
 1808,
 1180,
 1024,
 1108,
 1085,
 1669,
 1636,
 1005,
 1520,
 1929,
 1626,
 1551,
 1234,
 1988,
 1256,
 1524,
 1571,
 1506,
 1977,
 1749,
 1408,
 1540,
 1934,
 1810,
 1328,
 1910,
 1478,
 1600,
 1699,
 1413,
 1446,
 1798,
 1013,
 1998,
 1661,
 1058,
 1051,
 1220,
 1447,
 1675,
 1912,
 1668,
 1932,
 1962,
 1055,
 1757,
 1116,
 1090]

In [35]:
# Convert each line in the list to an integer
lines = [int(line) for line in lines]

In [43]:
# Read lines again to see if the data changed properly or not
lines

[1227,
 1065,
 329,
 1063,
 1889,
 1700,
 1805,
 1373,
 389,
 1263,
 1276,
 1136,
 1652,
 1981,
 1406,
 1249,
 1197,
 1379,
 1050,
 1791,
 1703,
 2001,
 1842,
 1707,
 1486,
 1204,
 1821,
 1807,
 1712,
 1871,
 1599,
 1390,
 1219,
 1612,
 1980,
 1857,
 1511,
 1702,
 1455,
 1303,
 1052,
 1754,
 1545,
 1488,
 1848,
 1236,
 1549,
 1887,
 1970,
 1123,
 1686,
 1404,
 1688,
 1106,
 1296,
 401,
 1829,
 1693,
 1389,
 1957,
 914,
 1176,
 1348,
 1275,
 1624,
 1401,
 1045,
 1396,
 1352,
 1569,
 1060,
 1235,
 1679,
 1503,
 1340,
 1872,
 1410,
 1077,
 958,
 1681,
 1189,
 1466,
 1087,
 1852,
 1293,
 1139,
 1300,
 1323,
 661,
 1388,
 1983,
 1325,
 1112,
 1774,
 1858,
 1785,
 1616,
 1255,
 1198,
 1354,
 1124,
 1834,
 1417,
 1918,
 1496,
 33,
 1150,
 1861,
 1172,
 2006,
 1199,
 1558,
 1919,
 1620,
 1613,
 1710,
 1477,
 1592,
 1709,
 1909,
 1670,
 1922,
 1840,
 1768,
 1982,
 1193,
 1736,
 1877,
 1770,
 1191,
 1433,
 1072,
 1148,
 1225,
 1147,
 1171,
 1424,
 1913,
 1228,
 1339,
 1814,
 1504,
 1251,
 1240,
 1272,
 1500,
 1927,
 1428,
 1641,
 1453,
 1729,
 1976,
 1808,
 1180,
 1024,
 1108,
 1085,
 1669,
 1636,
 1005,
 1520,
 1929,
 1626,
 1551,
 1234,
 1988,
 1256,
 1524,
 1571,
 1506,
 1977,
 1749,
 1408,
 1540,
 1934,
 1810,
 1328,
 1910,
 1478,
 1600,
 1699,
 1413,
 1446,
 1798,
 1013,
 1998,
 1661,
 1058,
 1051,
 1220,
 1447,
 1675,
 1912,
 1668,
 1932,
 1962,
 1055,
 1757,
 1116,
 1090]

# Puzzle 1 solution

In [38]:
# Iterate through each pair of numbers in 'lines'
for a in lines:
    for b in lines:
        if a + b == 2020:            # Check if the sum of the pair is 2020
            print(a,b, a + b,a * b)  # Print the pair and their sum/product
            solution = a * b         # Store the product of the pair
print(f'Puzzle 1: {solution}')       # Print the solution for Puzzle 1

1106 914 2020 1010884
914 1106 2020 1010884
Puzzle 1: 1010884

# Puzzel 2 solution

In [39]:
# Iterate through each pair of numbers in 'lines'
for a in lines:
    for b in lines:
        for c in lines:
            if a + b +c == 2020:                       # Check if the sum of the pair is 2020
                print(a,b,c, a + b + c,a * b * c)      # Print the pair and their sum/product
                solution = a * b * c                   # Store the product of the pair
print(f'Puzzle 2: {solution}')                         # Print the solution for Puzzle 2

401 958 661 2020 253928438
401 661 958 2020 253928438
958 401 661 2020 253928438
958 661 401 2020 253928438
661 401 958 2020 253928438
661 958 401 2020 253928438
Puzzle 2: 253928438

# Puzzel 1 solution using pairs

In [40]:
pairs = [(a, b) for a in lines for b in lines if a + b == 2020]    # Find all pairs of numbers that sum to 2020
pair =pairs[0]                                                     # Select the first pair from the list of pairs
pair                                                               # Display the selected pair

(1106, 914)

# Puzzel 2 solution using pairs

In [41]:
pairs = [(a, b, c) for a in lines for b in lines for c in lines if a + b + c == 2020]   # Find all pairs of numbers that sum to 2020
pair =pairs[0]                                                                          # Select the first pair from the list of pairs
pair                                                                                    # Display the selected pair

(401, 958, 661)